<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.haiercash.pluslink.capital.processer.server.dao.CooperationProjectDao">
    <select id="selectById" resultType="com.haiercash.pluslink.capital.data.CooperationProject">
        SELECT
        ID,
        LOAN_AMOUNT,
        LOAN_LIMIT_MONTH,
        AGENCY_RATIO,
        LOAN_LIMIT_DAY
        From
        PL_COOPERATION_PROJECT
        WHERE  ID = #{id}  AND DEL_FLAG=#{delFlag}
    </select>
</mapper>